* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*  HEADER  */

.logo {
    padding-top: 20px;
    width: 250px;
}

header ul {
    padding-left: 0;
    list-style: none;
    width: 100%;
}

header li {
    text-align: center;
    padding: 5px;
}

header a {
    text-decoration: none;
    color: #000000;
}

header .carousel img{
    height: 200px;
    object-fit: cover;
}

header .active{
    color: #d90368;
    font-weight: bolder;
}

/*  MAIN  */

h1{
    text-align: center;
}

main .card{
    box-shadow: 10px 10px 10px #d903674b;
    box-shadow: 10px 10px 10px #0000003d;
}

main .card .btn{
    background-color: #d90368;
    border-color: #88003fb4;
    box-shadow: inset 0 0 10px #7e003b;
}

main .card .btn:hover{
    background-color: #a0004b;
    border-color: #88003f;
}

main form{
    margin: 20px 0;
    box-shadow: inset 0 0 10px #d90368;
    border: 1px solid #d903678f;
    border-radius: 5px;
}

main form input{
    display: block;
    width: 100%;
}

main .img-details{
    width: 250px;
}

#details .container{
    background: linear-gradient(270deg, #ff007791, #7e003b);
    color: white;
    border-radius: 5px;
    border: 2px solid;
    margin: 5px;
    width: 270px;
}

#details .descripcion{
    padding: 10px;
    text-align: center;
    width: 100%;
    border-top: 2px solid white;
}

main table th{
    background-color: #d9036727;
    padding: 5px;
}

main table{
    width: 270px;
    border: 1px solid;
}

main table td, main table tr{
    border: 1px solid;
    height: 30px;
}

/*  FOOTER  */

footer{
    font-size: 25px;
    padding: 10px;
    background: linear-gradient(#d90368, #ff00ff10, #d90368);
}

footer ul{
    list-style: none;
}

footer a{
    text-decoration: none;
    color: black;
}

a .bi-instagram:hover{
    color: #d90368;
}

a .bi-facebook:hover{
    color: blue;
}

a .bi-whatsapp:hover{
    color: yellowgreen;
}