* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*  HEADER  */

.logo {
    padding-top: 20px;
    width: 250px;
}

header ul {
    padding-left: 0;
    list-style: none;
    width: 100%;
}

header li {
    text-align: center;
    padding: 5px;
}

header a {
    text-decoration: none;
    color: #000000;
}

header .carousel img{
    height: 200px;
    object-fit: cover;
}

header .active{
    color: #d90368;
    font-weight: bolder;
}

/*  MAIN  */



/*  FOOTER  */

footer{
    font-size: 25px;
    padding: 10px;
    background: linear-gradient(#ff000077, #ff00ff10, #ff000077);
}

footer ul{
    list-style: none;
}

footer a{
    text-decoration: none;
    color: black;
}

a .bi-instagram:hover{
    color: #d90368;
}

a .bi-facebook:hover{
    color: blue;
}

a .bi-whatsapp:hover{
    color: yellowgreen;
}